﻿@model McCoy.Models.Store
@{
    ViewData["Title"] = "Store Details";
    ViewData["Unknown"] = "Unknown";
}
<h2>@ViewData["Title"]</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>
        <dd>
            @if (@Model.ManagerName.Trim() != "")
            {@Html.DisplayFor(model => model.ManagerName)}
            else {@ViewData["Unknown"]}
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpeningTime)
        </dt>
        <dd>
            @if (@Model.OpeningTime.Trim() != "")
            {@Html.DisplayFor(model => model.OpeningTime)}
            else {@ViewData["Unknown"]}
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClosingTime)
        </dt>
        <dd>
            @if (@Model.ClosingTime.Trim() != "")
            {@Html.DisplayFor(model => model.ClosingTime)}
            else {@ViewData["Unknown"]}
        </dd>
    </dl>
</div>