﻿@model IEnumerable<McCoy.Models.Store>
@{
    ViewData["Title"] = "Store List";
}
<h2>@ViewData["Title"]</h2>

@foreach(var item in Model)
{
    if (item.ID != 0 && item.Name.Trim() != "")
        {<div><a href="/Store/Index/@item.ID">@item.Name</a></div>}
}
